
<div class="jumbotron">
    <div class="container">
                <h2>Students</h2>
                <table class="table table-bordered table-striped text-center table-background opacity">
                  <tr>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Pesel</th>
                  </tr>

                  <% @students.each do |student| %>
                    <tr>
                      <td><%= student.name %></td>
                      <td><%= student.surname %></td>
                      <td><%= student.pesel %></td>
                      <td> <%= link_to "", student_path(student), class: "btn btn-default btn-circle btn-outline glyphicon glyphicon-search" %>
                      <%= link_to "", edit_student_path(student), class: "btn btn-default btn-circle btn-outline glyphicon glyphicon-pencil" %>
                      <%= link_to "", student_path(student) , method: :delete, class: "btn btn-default btn-circle btn-outline glyphicon glyphicon-remove" %></td>
                    </tr>
                  <% end %>
                </table>
                <%= link_to "", new_student_url, class: "btn btn-default btn-circle btn-outline glyphicon glyphicon-plus" %>

      </div>
    </div>
