<div class="jumbotron">
<h2>Show student data</h2>
<div class="container">
      <%= image_tag @student.image.url, :style => "border-radius: 8px; width: 300px; height: 300px; border: 1px solid #ddd"%>
    </br>
    </br>
  <table class="table table-bordered table-striped">
     <tr>
       <td>
         <small>Name</small>
       </td>
     </tr>
     <tr>
       <td>
         <%= @student.name %>
       </td>
     </tr>

     <tr>
       <td>
         <small>Surname</small>
       </td>
     </tr>
     <tr>
       <td>
         <%= @student.surname %>
       </td>
     </tr>
     <td>
       <small>Interest</small>
     </td>
   </tr>
   <tr>
     <td>
       <%= @student.interest %>
     </td>
   </tr>
   </table>
   <div class="form-group">
       <%= link_to "", students_path, class: "btn btn-default btn-circle btn-outline glyphicon glyphicon-arrow-left" %>
   </div>
</div>
</div>
