<div class="jumbotron">
<h2>Show student data</h2>
<div class="container">
  <table class="table table-bordered table-striped">
    <%= image_tag @student.image.url %>
     <tr>
       <td>
         <small>Name</small>
       </td>
     </tr>
     <tr>
       <td>
         <%= @student.name %>
       </td>
     </tr>

     <tr>
       <td>
         <small>Surname</small>
       </td>
     </tr>
     <tr>
       <td>
         <%= @student.surname %>
       </td>
     </tr>
     <td>
       <small>Pesel</small>
     </td>
   </tr>
   <tr>
     <td>
       <%= @student.pesel %>
     </td>
   </tr>
   </table>
   <div class="form-group">
       <%= link_to "", students_path, class: "btn btn-default btn-circle btn-outline glyphicon glyphicon-arrow-left" %>
   </div>
</div>
</div>
